<!DOCTYPE html>
<html lang="ru" data-theme="<%= user ? user.theme : 'light' %>" style="zoom: <%= user ? user.scale : '100%' %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ServerCenter</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="logo">
        <h1>Server<span>Center</span></h1>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">Главная</a></li>
          <li><a href="service.html">Услуги</a></li>
          <li><a href="team.html">Команда</a></li>
          <li><a href="contacts.html">Контакты</a></li>
            <li><a href="account.html">Аккаунт</a></li>
            <li><a href="logout.html">Выйти</a></li>
            <li><a href="login.html">Вход</a></li>
            <li><a href="register.html">Регистрация</a></li>
        </ul>
      </nav>
    </div>
  </header>